body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('../img/bg-image.jpg');
    background-size: cover;
}

.content {
    width: 100%;
    margin-top: 10%;
}

.content div {
    text-align: center;
}

.title {
    text-align: center;
    color: white;
}

input {
    padding: 10px;
    font-size: 16px;
}

.edit-input {
    float: right;
}

button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #4caf50;
    color: white;
    margin: 2px;
}

ul {
    margin: auto;
    width: 50%;
}

li {
    list-style: none;
    font-size: 25px;
    width: 100%;
    text-align: initial;
    margin: auto;
    margin-top: 4px;
    border: 1px solid black;
    background-color: #bccad7;
    float: left;
    padding: 10px 5px;
}

li button {
    float: right;
}
